* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.App {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #4CA1AF, #3a7bd5);
}

.container {
    height: 550px;
    width: 900px;
    background: #f5f5f5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerLeft {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerRight {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerLeft img {
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

.containerTxt {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.containerTxt label {
    font-size: .8em;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(99, 99, 99);
}

.containerTxt h1 {
    font-size: 3.5em;
}

.containerTxt button {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #4CA1AF;
    color: #F5F5F5;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.267);
}

.containerTxt button:hover {
    background-color: #58acb9;
    transition: .5s;
}

.userInfo {
    display: flex;
    margin-top: 20px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userInfo p {
    font-weight: bold;
    margin-left: 10px;
}

@media(max-width: 910px){
    .App {
        height: 100%;
        width: 100%;
    }

    .container {
        height: 900px;
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 0px;
    }

    .containerLeft {
        height: 50%;
        width: 100%;
    }

    .containerLeft img {
        height: 400px;
        width: 400px;
    }

    .containerRight {
        height: 50%;
        width: 100%;
    }

    .containerTxt label {
        text-align: center;
    }

    .containerTxt h1 {
        text-align: center;
    }
}

@media(max-width: 410px) {
    .containerLeft img {
        height: 300px;
        width: 300px;
    }
}

