* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.App {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ced9ff;
}

.userDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.userDiv img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid black;
}

.userDiv h1 {
    margin-top: 10px;
    color: #4089DD;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.11);
}

.userDiv span {
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    color: #252525;
}

.userDiv span:hover {
    color: #000000;
}

.userLeft {
    height: 100%;
    width: 50%;
    border-right: 1px solid gray;
}

.userLeft h2 {
    color: #4089DD;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.11);
    margin-top: 10px;
}

.userTxt {
    margin-top: 20px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
}

.userLeft span {
    font-size: 1.3em;
    font-weight: bold;
}

.userName {
    display: flex;
}

.userLastName {
    margin-left: 5px;
}

.userRight {
    height: 100%;
    width: 50%;
}

.userRight span {
    font-size: 1.3em;
    font-weight: bold;
}
